In [38]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import datetime as dt
import maya as my
import arrow as ar

In [39]:
df = pd.read_csv("ARR_Rates.csv")
df.head()

  Value Date Publication Date Currency  ARR Rate Compound SORA - 1 month
0   2/1/2020                -      SGD    1.6813                       -
1   3/1/2020                -      SGD    1.2271                       -
2   6/1/2020                -      SGD    0.9619                       -
3   7/1/2020                -      SGD    1.0309                       -
4   8/1/2020                -      SGD    1.0006                       -

In [40]:
dw_mapping={
    0: 'Monday', 
    1: 'Tuesday', 
    2: 'Wednesday', 
    3: 'Thursday', 
    4: 'Friday',
    5: 'Saturday', 
    6: 'Sunday'
}

In [41]:
df['Value Date'] = pd.to_datetime(df['Value Date'], errors='coerce', dayfirst=True, format="%d/%m/%Y")
df

    Value Date Publication Date Currency  ARR Rate Compound SORA - 1 month
0   2020-01-02                -      SGD    1.6813                       -
1   2020-01-03                -      SGD    1.2271                       -
2   2020-01-06                -      SGD    0.9619                       -
3   2020-01-07                -      SGD    1.0309                       -
4   2020-01-08                -      SGD    1.0006                       -
..         ...              ...      ...       ...                     ...
223 2020-11-20       23/11/2020      SGD    0.0924                  0.1178
224 2020-11-23       24/11/2020      SGD    0.0708                  0.1162
225 2020-11-24       25/11/2020      SGD    0.1215                  0.1162
226 2020-11-25       26/11/2020      SGD    0.1104                  0.1159
227 2020-11-26       27/11/2020      SGD    0.1219                  0.1165

[228 rows x 5 columns]

### Adding a Weekday By Name for Value Date

### Adding Weight Column as the difference between 2 consecutive dates

In [42]:
df['Value Date - Weekday'] = pd.to_datetime(df['Value Date']).dt.weekday.map(dw_mapping)
df

,Value Date,Publication Date,Currency,ARR Rate,Compound SORA - 1 month,Value Date - Weekday
0,2020-01-02,-,SGD,1.6813,-,Thursday
1,2020-01-03,-,SGD,1.2271,-,Friday
2,2020-01-06,-,SGD,0.9619,-,Monday
3,2020-01-07,-,SGD,1.0309,-,Tuesday
4,2020-01-08,-,SGD,1.0006,-,Wednesday
...,...,...,...,...,...,...
223,2020-11-20,23/11/2020,SGD,0.0924,0.1178,Friday
224,2020-11-23,24/11/2020,SGD,0.0708,0.1162,Monday
225,2020-11-24,25/11/2020,SGD,0.1215,0.1162,Tuesday
226,2020-11-25,26/11/2020,SGD,0.1104,0.1159,Wednesday
227,2020-11-26,27/11/2020,SGD,0.1219,0.1165,Thursday

In [47]:
daycount_365, daycount_360, rate_divisor = 365.00, 360.00, 100.00

df['weight'] = df['Value Date'].shift(-1).dt.dayofyear - df['Value Date'].dt.dayofyear

In [66]:
df['Rolling_Sum'] = df.weight.rolling(window=300, min_periods=1).sum()

In [63]:
df["cum_Int_wt_A"] = df.weight.rolling(window=20).sum()
df["cum_Obs_wt_A"] = df.weight.shift(5).rolling(window=20).sum()

df["cum_Int_wt_B"] = df.weight.rolling(window=21).sum()
df["cum_Obs_wt_B"] = df.weight.shift(5).rolling(window=21).sum()

df["cum_Int_wt_C"] = df.weight.rolling(window=22).sum()
df["cum_Obs_wt_C"] = df.weight.shift(5).rolling(window=22).sum()

In [67]:
df.head(10)

,Value Date,Publication Date,Currency,ARR Rate,Compound SORA - 1 month,Value Date - Weekday,weight,cum_Int_wt_3,cum_Obs_wt_3,cum_Int_wt_A,cum_Obs_wt_A,cum_Int_wt_B,cum_Obs_wt_B,cum_Int_wt_C,cum_Obs_wt_C,Rolling_Sum
0,2020-01-02,-,SGD,1.6813,-,Thursday,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,2020-01-03,-,SGD,1.2271,-,Friday,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
2,2020-01-06,-,SGD,0.9619,-,Monday,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
3,2020-01-07,-,SGD,1.0309,-,Tuesday,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
4,2020-01-08,-,SGD,1.0006,-,Wednesday,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0
5,2020-01-09,-,SGD,1.0299,-,Thursday,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
6,2020-01-10,-,SGD,1.1810,-,Friday,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0
7,2020-01-13,-,SGD,1.0595,-,Monday,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0
8,2020-01-14,-,SGD,0.8209,-,Tuesday,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0
9,2020-01-15,-,SGD,0.8514,-,Wednesday,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0

In [68]:
df[df['Value Date'] > '2020-07-01'].head(20)

,Value Date,Publication Date,Currency,ARR Rate,Compound SORA - 1 month,Value Date - Weekday,weight,cum_Int_wt_3,cum_Obs_wt_3,cum_Int_wt_A,cum_Obs_wt_A,cum_Int_wt_B,cum_Obs_wt_B,cum_Int_wt_C,cum_Obs_wt_C,Rolling_Sum
125,2020-07-02,-,SGD,0.0668,-,Thursday,1.0,28.0,28.0,28.0,28.0,29.0,29.0,30.0,30.0,183.0
126,2020-07-03,-,SGD,0.0962,-,Friday,3.0,28.0,28.0,28.0,28.0,31.0,31.0,32.0,32.0,186.0
127,2020-07-06,-,SGD,0.0461,-,Monday,1.0,28.0,28.0,28.0,28.0,29.0,29.0,32.0,32.0,187.0
128,2020-07-07,-,SGD,0.0158,-,Tuesday,1.0,28.0,28.0,28.0,28.0,29.0,29.0,30.0,30.0,188.0
129,2020-07-08,-,SGD,0.0178,-,Wednesday,1.0,28.0,28.0,28.0,28.0,29.0,29.0,30.0,30.0,189.0
130,2020-07-09,-,SGD,0.0093,-,Thursday,4.0,31.0,28.0,31.0,28.0,32.0,29.0,33.0,30.0,193.0
131,2020-07-13,-,SGD,0.0165,-,Monday,1.0,29.0,28.0,29.0,28.0,32.0,31.0,33.0,32.0,194.0
132,2020-07-14,-,SGD,0.0244,-,Tuesday,1.0,29.0,28.0,29.0,28.0,30.0,29.0,33.0,32.0,195.0
133,2020-07-15,-,SGD,0.0178,-,Wednesday,1.0,29.0,28.0,29.0,28.0,30.0,29.0,31.0,30.0,196.0
134,2020-07-16,-,SGD,0.0243,-,Thursday,1.0,29.0,28.0,29.0,28.0,30.0,29.0,31.0,30.0,197.0
135,2020-07-17,-,SGD,0.0205,-,Friday,3.0,31.0,31.0,31.0,31.0,32.0,32.0,33.0,33.0,200.0
136,2020-07-20,-,SGD,0.0214,-,Monday,1.0,29.0,29.0,29.0,29.0,32.0,32.0,33.0,33.0,201.0
137,2020-07-21,-,SGD,0.0290,-,Tuesday,1.0,29.0,29.0,29.0,29.0,30.0,30.0,33.0,33.0,202.0
138,2020-07-22,-,SGD,0.0446,-,Wednesday,1.0,29.0,29.0,29.0,29.0,30.0,30.0,31.0,31.0,203.0
139,2020-07-23,-,SGD,0.2409,-,Thursday,1.0,29.0,29.0,29.0,29.0,30.0,30.0,31.0,31.0,204.0
140,2020-07-24,-,SGD,0.2719,-,Friday,3.0,31.0,31.0,31.0,31.0,32.0,32.0,33.0,33.0,207.0
141,2020-07-27,-,SGD,0.2654,-,Monday,1.0,29.0,29.0,29.0,29.0,32.0,32.0,33.0,33.0,208.0
142,2020-07-28,-,SGD,0.2681,-,Tuesday,1.0,29.0,29.0,29.0,29.0,30.0,30.0,33.0,33.0,209.0
143,2020-07-29,-,SGD,0.1112,-,Wednesday,1.0,29.0,29.0,29.0,29.0,30.0,30.0,31.0,31.0,210.0
144,2020-07-30,-,SGD,0.1015,-,Thursday,4.0,32.0,29.0,32.0,29.0,33.0,30.0,34.0,31.0,214.0

In [55]:
df_test["daily_EAR"] = (df_test["rate"]/daycount)/rate_divisor
df_test["Int_wt_EAR"] = df_test["daily_EAR"] * df_test["Int_wt"]
df_test["Obs_wt_EAR"] = df_test["daily_EAR"] * df_test["Obs_wt"]

In [56]:
df_test["Int_wt_Cap_Mult"] = df_test["Int_wt_EAR"] + 1.000000
df_test["Obs_wt_Cap_Mult"] = df_test["Obs_wt_EAR"] + 1.000000

df_test["Int_wt_Cap_Mult_Running_3"] = df_test['Int_wt_Cap_Mult'].rolling(3).apply(lambda x:x.prod())
df_test["Obs_wt_Cap_Mult_Running_3"] = df_test['Obs_wt_Cap_Mult'].rolling(3).apply(lambda x:x.prod())

In [57]:
df_test

,rate,Int_wt,Obs_wt,cum_Int_wt_3,cum_Obs_wt_3,daily_EAR,Int_wt_EAR,Obs_wt_EAR,Int_wt_Cap_Mult,Obs_wt_Cap_Mult,Int_wt_Cap_Mult_Running_3,Obs_wt_Cap_Mult_Running_3
0,0.320312,1,3,1.0,3.0,0.000009,0.000009,0.000026,1.000009,1.000026,NaN,NaN
1,0.656520,1,1,2.0,4.0,0.000018,0.000018,0.000018,1.000018,1.000018,NaN,NaN
2,0.336440,1,1,3.0,5.0,0.000009,0.000009,0.000009,1.000009,1.000009,1.000036,1.000054
3,0.238383,4,1,6.0,3.0,0.000007,0.000026,0.000007,1.000026,1.000007,1.000053,1.000034
4,0.602061,1,1,6.0,3.0,0.000016,0.000016,0.000016,1.000016,1.000016,1.000052,1.000032
5,0.513398,2,3,7.0,5.0,0.000014,0.000028,0.000042,1.000028,1.000042,1.000071,1.000065
6,0.895510,1,2,4.0,6.0,0.000025,0.000025,0.000049,1.000025,1.000049,1.000069,1.000108

In [58]:
df_test["Int_Compound_Rate"] = (df_test["Int_wt_Cap_Mult_Running_3"] - 1.000000) * (daycount/df_test["cum_Int_wt_3"])
df_test["Obs_Compound_Rate"] = (df_test["Obs_wt_Cap_Mult_Running_3"] - 1.000000) * (daycount/df_test["cum_Obs_wt_3"])

In [59]:
df_test["Delta_Rate_Obs_Int"] = df_test["Obs_Compound_Rate"] - df_test["Int_Compound_Rate"]

In [60]:
df_test

,rate,Int_wt,Obs_wt,cum_Int_wt_3,cum_Obs_wt_3,daily_EAR,Int_wt_EAR,Obs_wt_EAR,Int_wt_Cap_Mult,Obs_wt_Cap_Mult,Int_wt_Cap_Mult_Running_3,Obs_wt_Cap_Mult_Running_3,Int_Compound_Rate,Obs_Compound_Rate,Delta_Rate_Obs_Int
0,0.320312,1,3,1.0,3.0,0.000009,0.000009,0.000026,1.000009,1.000026,NaN,NaN,NaN,NaN,NaN
1,0.656520,1,1,2.0,4.0,0.000018,0.000018,0.000018,1.000018,1.000018,NaN,NaN,NaN,NaN,NaN
2,0.336440,1,1,3.0,5.0,0.000009,0.000009,0.000009,1.000009,1.000009,1.000036,1.000054,0.004378,0.003908,-0.000470
3,0.238383,4,1,6.0,3.0,0.000007,0.000026,0.000007,1.000026,1.000007,1.000053,1.000034,0.003244,0.004105,0.000860
4,0.602061,1,1,6.0,3.0,0.000016,0.000016,0.000016,1.000016,1.000016,1.000052,1.000032,0.003153,0.003923,0.000770
5,0.513398,2,3,7.0,5.0,0.000014,0.000028,0.000042,1.000028,1.000042,1.000071,1.000065,0.003689,0.004761,0.001072
6,0.895510,1,2,4.0,6.0,0.000025,0.000025,0.000049,1.000025,1.000049,1.000069,1.000108,0.006311,0.006556,0.000245