In [61]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import datetime as dt

In [62]:
'''
df_test = pd.DataFrame({'rate':[0.320312,0.656520,0.336440, 0.238383,0.602061, 0.513398, 0.895510],
                       'Int_wt':[1,1,1,4,1,2,1],
                        'Obs_wt':[3,1,1,1,1,3,2]
                       })
#df['prod'] = df.v.cumprod()
df_test
'''

"\ndf_test = pd.DataFrame({'rate':[0.320312,0.656520,0.336440, 0.238383,0.602061, 0.513398, 0.895510],\n                       'Int_wt':[1,1,1,4,1,2,1],\n                        'Obs_wt':[3,1,1,1,1,3,2]\n                       })\n#df['prod'] = df.v.cumprod()\ndf_test\n"

In [54]:
daycount, rate_divisor = 365.00, 100.00
df_test["cum_Int_wt_3"] = df_test.Int_wt.rolling(window=3, min_periods=1).sum()
df_test["cum_Obs_wt_3"] = df_test.Obs_wt.rolling(window=3, min_periods=1).sum()

In [55]:
df_test["daily_EAR"] = (df_test["rate"]/daycount)/rate_divisor
df_test["Int_wt_EAR"] = df_test["daily_EAR"] * df_test["Int_wt"]
df_test["Obs_wt_EAR"] = df_test["daily_EAR"] * df_test["Obs_wt"]

In [56]:
df_test["Int_wt_Cap_Mult"] = df_test["Int_wt_EAR"] + 1.000000
df_test["Obs_wt_Cap_Mult"] = df_test["Obs_wt_EAR"] + 1.000000

df_test["Int_wt_Cap_Mult_Running_3"] = df_test['Int_wt_Cap_Mult'].rolling(3).apply(lambda x:x.prod())
df_test["Obs_wt_Cap_Mult_Running_3"] = df_test['Obs_wt_Cap_Mult'].rolling(3).apply(lambda x:x.prod())

In [57]:
df_test

,rate,Int_wt,Obs_wt,cum_Int_wt_3,cum_Obs_wt_3,daily_EAR,Int_wt_EAR,Obs_wt_EAR,Int_wt_Cap_Mult,Obs_wt_Cap_Mult,Int_wt_Cap_Mult_Running_3,Obs_wt_Cap_Mult_Running_3
0,0.320312,1,3,1.0,3.0,0.000009,0.000009,0.000026,1.000009,1.000026,NaN,NaN
1,0.656520,1,1,2.0,4.0,0.000018,0.000018,0.000018,1.000018,1.000018,NaN,NaN
2,0.336440,1,1,3.0,5.0,0.000009,0.000009,0.000009,1.000009,1.000009,1.000036,1.000054
3,0.238383,4,1,6.0,3.0,0.000007,0.000026,0.000007,1.000026,1.000007,1.000053,1.000034
4,0.602061,1,1,6.0,3.0,0.000016,0.000016,0.000016,1.000016,1.000016,1.000052,1.000032
5,0.513398,2,3,7.0,5.0,0.000014,0.000028,0.000042,1.000028,1.000042,1.000071,1.000065
6,0.895510,1,2,4.0,6.0,0.000025,0.000025,0.000049,1.000025,1.000049,1.000069,1.000108

In [58]:
df_test["Int_Compound_Rate"] = (df_test["Int_wt_Cap_Mult_Running_3"] - 1.000000) * (daycount/df_test["cum_Int_wt_3"])
df_test["Obs_Compound_Rate"] = (df_test["Obs_wt_Cap_Mult_Running_3"] - 1.000000) * (daycount/df_test["cum_Obs_wt_3"])

In [59]:
df_test["Delta_Rate_Obs_Int"] = df_test["Obs_Compound_Rate"] - df_test["Int_Compound_Rate"]

In [60]:
df_test

,rate,Int_wt,Obs_wt,cum_Int_wt_3,cum_Obs_wt_3,daily_EAR,Int_wt_EAR,Obs_wt_EAR,Int_wt_Cap_Mult,Obs_wt_Cap_Mult,Int_wt_Cap_Mult_Running_3,Obs_wt_Cap_Mult_Running_3,Int_Compound_Rate,Obs_Compound_Rate,Delta_Rate_Obs_Int
0,0.320312,1,3,1.0,3.0,0.000009,0.000009,0.000026,1.000009,1.000026,NaN,NaN,NaN,NaN,NaN
1,0.656520,1,1,2.0,4.0,0.000018,0.000018,0.000018,1.000018,1.000018,NaN,NaN,NaN,NaN,NaN
2,0.336440,1,1,3.0,5.0,0.000009,0.000009,0.000009,1.000009,1.000009,1.000036,1.000054,0.004378,0.003908,-0.000470
3,0.238383,4,1,6.0,3.0,0.000007,0.000026,0.000007,1.000026,1.000007,1.000053,1.000034,0.003244,0.004105,0.000860
4,0.602061,1,1,6.0,3.0,0.000016,0.000016,0.000016,1.000016,1.000016,1.000052,1.000032,0.003153,0.003923,0.000770
5,0.513398,2,3,7.0,5.0,0.000014,0.000028,0.000042,1.000028,1.000042,1.000071,1.000065,0.003689,0.004761,0.001072
6,0.895510,1,2,4.0,6.0,0.000025,0.000025,0.000049,1.000025,1.000049,1.000069,1.000108,0.006311,0.006556,0.000245